/* From Uiverse.io by Mike11jr */ 
.btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  -webkit-box-shadow: 0 2px 0 2px #000;
          box-shadow: 0 2px 0 2px #000;
 }
 
 .btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  -webkit-transform: skewX(30deg) translate(-150%, -50%);
      -ms-transform: skewX(30deg) translate(-150%, -50%);
          transform: skewX(30deg) translate(-150%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
 
 .btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  -webkit-box-shadow: 0 2px 0 2px #0d3b66;
          box-shadow: 0 2px 0 2px #0d3b66;
 }
 
 .btn:hover::before {
  -webkit-transform: skewX(30deg) translate(150%, -50%);
      -ms-transform: skewX(30deg) translate(150%, -50%);
          transform: skewX(30deg) translate(150%, -50%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
 }
 
 .btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
 }